*{
	/* caso der algo errado */
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-decoration: none;
		font-family: sans-serif;
		font-size: 14px;
}

body{
	width: 100%;
	min-height: 100vh; /* a altura dele sempre sera essa, ele pode ficar maior caso tenham varios containers maiores dentro*/
	background-color: rgb(243,243,243);
	margin: 0;
	padding: 0;
	display: flex; /* torna o elemento um flex container automaticamente, faz os elementos ficarem em linha */
	justify-content: center; /* vai colocar o conteudo no centro*/
}

.instagram-wrapper{
	display: flex;
	align-itens: center; /* alinhamento vertical dos itens pr ficar no centro*/
	justify-content: start; /* para comecar da esquerda para direita */
	width: 60%;
	height: 100vh;
	padding-top: 10vh;
}

.instagram-phone{
	display: flex;
	align-itens: center;
	justify-content: center;
	width: 50%;
}

.instagram-phone img{
	height: 45rem;	
}

.instagram-continue{
	display: flex;
	align-itens: center; /* Horizontal */
	justify-content: space-around; /*Vertical - itens sao distribuidos igualmente na linha com o mesmo espacamento entre eles */
	flex-direction: column; /* os itens do flexbox ficam em uma coluna, um embaixo do outro */
	width: 50%;
	min-height: 34rem;
}